h1{color: blue; font-size: 500px;}
body{background-image: url(jam.png);
    background-size: 60px;
    background-attachment: fixed;
background-position-x:79%;
background-position-y:93% ;
 



}
