.a{border-style: dashed;}
.b{border-style:solid;}
.c{border-style: dotted;}
.d{border-style: double;}
.e{border-style: groove;}
 .f{border-style: 70de;}
 







































